@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<p>That's My Area Code was inspired by three Computer Information Systems students at Louisville's College of Business. We thought it might be nice to have a place where people can go to check out what's happening around their area. Maybe you want to see what's going on in other area codes. Or maybe you just want to goof off and read some funny posts. This site should satisfy all of those desires.
    </p>
<p>Change area codes and genres to optimize your viewing pleasure. This site is designed to be completely anonymous, so feel free to make up a username each time you post.</p>

<p>If you have any questions, feel free to contact us through the Contact page!</p>
