@{
    ViewBag.Title = "Home Page";
}


<div class="alert alert-danger" role="alert" style="margin-top:20px">
    By clicking on the Zinger image below, you are agreeing to see a range of content from class to trash so click wisely...
</div>
<br />

<div class="row">
    <div class="col-md-12">
        <center>
            <a href="http://thatsmyareacode.azurewebsites.net"><img src="/Content/Images/Zinger.jpg" class="img-responsive" style="width:200px; height:200px; border-color: black; border-radius: 20px;"></a>
        </center>
    </div>

</div>
<br />