@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>That's My Area Code!</h1>
    <p class="lead">What's goin on in <strong>your</strong> area code?</p>
</div>

<div class="row">
    <div class="col-md-4">
        
       
    </div>
    <div class="col-md-4">
     
    </div>
    <div class="col-md-4">
       
    </div>
</div>